// Colors
$color-default: #40444b;
$color-title: #000;
$colorGray: #777F86;
$colorWhite: rgba(255, 255, 255, 1); 
$color-border: #e3e3e3;
$color-navy: #363763;
$color-background: #F2F2F5;
$color-background-light: #fff;
$color-main-link: #fff;
$color-link: #4564dc;
$status: #e4e8fa;
$color-link-hover: lighten($color-link, 10%);