@import "_variables";
@import "colors";
@import "fonts";
@import "footer";
@import "popup";
@import "mobile_nav";
@import "index";
@import "header";
@import "highlight";
@import "sidebar";
@import "page";
@import "archive";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section  {
  display: block;
}

body  {
  line-height: 1;
}

ol, ul  {
  list-style: none;
}

blockquote, q  {
  quotes: none;
}

blockquote:before, blockquote:after  {
  content: "";
  content: none;
}

q:before, q:after  {
  content: "";
  content: none;
}

table  {
  border-collapse: collapse;
  border-spacing: 0;
}

div  {
  box-sizing: border-box;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input, label, 
select, 
button, 

textarea  {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}


/* Remove the stupid outer glow in Webkit */
input:focus  {
  outline: 0;
}


/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input, 
textarea  {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


/* These elements are usually rendered a certain way by the browser */
button, 
input[type=reset], 
input[type=button], 
input[type=submit], 
input[type=checkbox], 
input[type=radio], 
select  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox], 
input[type=radio]  {
  width: 13px;
  height: 13px;
}


/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search]  {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}


/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration  {
  display: none;
}


/* Buttons
-----------------------------------------------*/
button, 
input[type="reset"], 
input[type="button"], 
input[type="submit"]  {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

.home-wrap, .pre-footer {
  .button, .community a.button {
    width: auto;
  }
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button  {
  padding: 0;
  border: 0;
  background: none;
}


/* Textarea
-----------------------------------------------*/
textarea  {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}


/* Selects
-----------------------------------------------*/
select[multiple]  {
  /* Move the label to the top */
  vertical-align: top;
}

body {
  background: #ffffff;
}

.cards {
  display: flex;
  width: 100%;
}

.cards .card {
  width: 100%;
}

.cards.cards--three {
  flex-wrap: wrap;
}

.cards.cards--three .card {
  width: 33.3%;
}

.cards.cards--three .card-inner {
  margin: 12px;
}

.cards.cards--three .card:nth-child(3n+1) .card-inner { /* 1, 4, 7...*/
  margin-left: 0
}

.cards.cards--three .card:nth-child(3n+3) .card-inner { /* 3, 6, 9...*/
  margin-right: 0
}

.cards.cards--three .card:nth-child(1) .card-inner,
.cards.cards--three .card:nth-child(2) .card-inner,
.cards.cards--three .card:nth-child(3) .card-inner {
  margin-top: 0;
}

.cards.cards--three .card:nth-last-child(3) .card-inner,
.cards.cards--three .card:nth-last-child(2) .card-inner,
.cards.cards--three .card:nth-last-child(1) .card-inner {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $colorBlue;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6em;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6em;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $colorGray;
  font-weight: 500;
  font-size: 14px;
}


#general-menu {
  position: relative;
  display: flex;
  max-width: 1240px;
  padding: 0 20px;
  height: 56px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 24px auto;
  width: 100%;
  z-index: 9;
  align-items: center;
  @media screen and (max-width: break-xl) {
    margin: 14px auto;
  }
  .header-left {
    width: 100%;
    display: flex;
    .logo {
      display: flex;
      margin: 0 22px 0 0;
      a {
        font-size: 27px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        &:before {
          content: '';
          width: 148px;
          height: 56px;
          display: block;
          background-image: url("../img/logo-status.svg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: all 0.3s ease-in-out;
          @media screen and (max-width: break-xl) {
            width: 138px;
            height: 52px;
          }
        }
      }
    }
    nav {
      @media screen and (max-width: break-xl) {
        display: none;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        height: 100%;
        li {
          position: relative;
          a {
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            padding: 10px;
            display: flex;
            margin-right: 4px;
            color: #000;
            transition: all 0.3s ease-in-out;
            &:hover {
              opacity: 0.7;
            }
          }
          &.has-popup {
            display: flex;
            align-items: center;
            svg {
              margin-left: -6px;
              margin-right: 6px;
            }
          }
          &.has-submenu {
            &:hover {
              .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0) rotateX(0) scale(1);
              }
            }
          }
          .sub-menu {
            position: absolute;
            top: 100%;
            left: -8px;
            transform: translateY(-20px) rotateX(20deg) scale(0.95);
            transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
            visibility: hidden;
            opacity: 0;
            ul {
              background: #fff;
              box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124);
              border-radius: 8px;
              list-style-type: none;
              margin: 0;
              padding: 0;
              flex-direction: column;
              align-items: flex-start;
              white-space: nowrap;
              li {
                width: 100%;
                padding-right: 50px;
                &:first-child {
                  margin-top: 20px;
                }
                &:last-child {
                  margin-bottom: 20px;
                }
                a {
                  padding: 8px 20px;
                  display: block;
                  margin: 0;
                  color: #8d99a4;
                  &:hover {
                    background: #fafafa;
                    color: black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .btns {
    @media screen and (max-width: break-xl) {
      display: none;
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 10px 32px 9px;
      border-radius: 22px;
      font-weight: 500;
      line-height: normal;
      background-color: #fff;
      color: #000;
      text-align: center;
      white-space: nowrap;
      box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124);
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #5EC12F;
        color: #fff;
      }
    }
  }
  .mobile-menu-trigger {
    display: flex;
    height: auto;
    align-self: center;
    margin-right: 6px;
    padding: 10px;
    margin-left: auto;
    display: none;
    @media screen and (max-width: break-xl) {
      display: flex;
    }
  }
}
#general-menu-mobile {
  position: fixed;
  z-index: -100;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: all 0.3s ease-in-out;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  @media screen and (max-width: break-xl) {
    z-index: 9000;
    display: block;
  }
  .mobile-menu-container-inner {
    margin: 16px;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: calc(100vw - 32px);
    .mobile-menu-header {
      position: relative;
      padding: 16px 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        display: flex;
        margin: 0 22px 0 0;
        a {
          font-size: 27px;
          font-weight: bold;
          color: #000;
          text-decoration: none;
          display: flex;
          align-items: center;
          transition: all 0.3s ease-in-out;
          &:before {
            content: '';
            width: 138px;
            height: 52px;
            display: block;
            background-image: url("../img/logo-status.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in-out;
          }
          span {
            color: #000;
            margin-left: 10px;
            font-size: 22px;
          }
        }
      }
    }
    nav {
      padding: 24px 24px 12px 24px;
      ul {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          position: relative;
          a {
            text-decoration: none;
            font-weight: normal;
            font-size: 14px;
            display: block;
            margin: 0 -24px 0 -24px;
            padding: 16px 26px;
            color: #000;
            &:hover {
              background: rgba($colorStatus, 0.2);
              opacity: 0.7;
            }
          }
          svg {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -3px;
          }
        }
      }
    }
  }
}
.general-menu-open {
  #general-menu-mobile {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  #general-menu-backdrop {
    visibility: visible;
    opacity: 0.45;
    pointer-events: all;
    z-index: 8800;
  }
}
.general-popup-open {
  overflow: hidden;
  .general-menu-popup {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}
#general-menu-backdrop {
  z-index: -101;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(120, 135, 148, 0.6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: opacity 0.3s ease-in-out;
  @media screen and (max-width: break-xl) {
    z-index: 8900;
    display: block;
  }
}
.general-menu-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9100;
  top: 0;
  left: 0;
  padding: 0 20px;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: break-xl) {
    width: 100%;
    padding: 0 16px;
  }
  .general-popup-backdrop {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(120, 135, 148, 0.6);
    opacity: 0.45;
    transition: opacity 0.3s ease-in-out;
  }
  .inner {
    box-sizing: border-box;
    margin: 140px auto 16px;
    width: 100%;
    max-width: 1200px;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: break-md) {
      margin-top: 92px;
    }
    .close {
      position: absolute;
      top: -54px;
      right: 0;
      background: #FFFFFF;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
    h3 {
      margin: 0;
      font-size: 20px;
      color: #000000;
      line-height: normal;
      font-weight: bold;
    }
    .features {
      display: flex;
      list-style-type: none;
      margin: 16px 0 0 0;
      padding: 0;
      justify-content: center;
      flex-wrap: wrap;
      li {
        background: rgba($colorStatus, 0.1);
        margin-right: 20px;
        flex: 1;
        padding: 30px 30px 15px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 16px;
        @media screen and (max-width: break-md) {
          flex: auto;
          width: 100%;
          margin: 0 0 20px;
        }
        &:last-child {
          margin-right: 0;
          @media screen and (max-width: break-md) {
            margin: 0;
          }
        }
        h4 {
          margin: 25px 0 8px 0;
        }
        p {
          font-weight: normal;
          line-height: 24px;
          font-size: 16px;
          text-align: center;
          color: #939BA1;
          margin: 0;
        }
      }
    }
    h5 {
      font-weight: 500;
      line-height: normal;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #939BA1;
      margin: 50px 0 24px;
    }
    .more {
      display: flex;
      list-style-type: none;
      margin: 16px 0 0 0;
      padding: 0;
      justify-content: center;
      flex-wrap: wrap;
      li {
        flex: 1;
        margin-right: 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        border-radius: 16px;
        @media screen and (max-width: break-md) {
          flex: auto;
          width: 100%;
          margin: 0 0 40px;
        }
        &:last-child {
          margin-right: 0;
          @media screen and (max-width: break-md) {
            margin: 0;
          }
        }
        h4 {
          font-style: normal;
          font-weight: bold;
          line-height: 24px;
          font-size: 16px;
          color: #000000;
          margin: 0;
        }
        p {
          font-weight: normal;
          line-height: 24px;
          font-size: 16px;
          color: #939BA1;
          margin: 8px 0;
        }
        a {
          line-height: 24px;
          font-size: 16px;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $colorStatus;
          margin-top: auto;
          transition: all 0.3s ease-in-out;
          &:hover {
            opacity: 0.7;
          }
          svg {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.logo-sign  {
  display: block;
  position: absolute;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  bottom: -28px;
  text-decoration: none;
}

.logo-sign:hover, .by-status:hover  {
  color: white;
}

.dropdown  {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.dropdown:before, 
.dropdown:after  {
  clear: both;
  content: "";
  display: table;
}

.dropdown nav ul li  {
  float: left;
  margin: 8px;
  position: relative;
}

.dropdown nav ul li a  {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0;
  display: block;
}

.dropdown nav ul li a:hover  {
  opacity: 0.7;
}

.dropdown nav ul li a:focus  {
  color: rgba(255, 255, 255, 1);
}

.dropdown nav ul li.current a  {
  text-decoration: underline;
}

.dropdown nav ul li:hover > ul  {
  display: block;
}

.dropdown nav ul li ul  {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
  border-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  flex-direction: column;
}

.dropdown .has-submenu {
  position: relative;
}

.dropdown .sub-menu  {
  position: absolute;
  top: 100%;
  left: -7px;
  -webkit-transform: translateY(-20px) rotateX(20deg) scale(0.95);
  transform: translateY(-20px) rotateX(20deg) scale(0.95);
  -webkit-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  -moz-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  -o-transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  transition: all 0.3s ease-in-out, pointer-events 0s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.dropdown .sub-menu li a {
  padding: 0;
}

.dropdown .has-submenu:hover .sub-menu  {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) rotateX(0) scale(1);
  transform: translateY(0) rotateX(0) scale(1);
}

.dropdown nav ul li ul li  {
  float: none;
  width: 8.125em;
}

.dropdown nav ul li ul li a:link, 
.dropdown nav ul li ul li a:visited  {
  color: #8d99a4;
}

.dropdown nav ul li ul li a:hover  {
  color: #000;
}

.secondary-nav  {
  display: flex;
  align-items: center;
  margin-left: 32px;
}

.secondary-nav .button {
  margin-right: 8px;
}

.second-nav-links {
  display: inherit;
  @media mq-mobile {
    display: none;
  }
}

.secondary-nav a  {
  color: #FFFFFF;
  text-decoration: none;
}

.secondary-nav a:hover  {
  opacity: 0.7;
}

.secondary-nav span.social-link a:hover  {
  opacity: 1;
}

.secondary-nav span.social-link  {
  margin: 8px;
}

.secondary-nav span.social-link a  {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.secondary-nav span.social-link a:hover  {
  background-color: rgba(0, 0, 0, 0.2);
}

.secondary-nav span.social-link.social-link--twitter a  {
  background-image: url(../img/icon-twitter.svg);
}

.secondary-nav span.social-link.social-link--github a  {
  background-image: url(../img/icon-github.svg);
}

.secondary-nav span.social-link.social-link--gitter a  {
  background-image: url(../img/icon-gitter.svg);
}

.secondary-nav span:first-child  {
  margin-left: 0;
}

.secondary-nav span:last-child  {
  margin-right: 0;
}


@media (max-width: 1199px) {
  .header  {
    width: 100%;
    left: 0;
    top: 0;
    margin: 24px 0 0 0;
    padding: 0 24px;
  }
}

.home-cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEF4EB;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.intro  {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 170px 0 64px;
  color: #000;
  text-align: left;
  max-width: 470px;
  max-width: 1200px;
  width: 100%;
}

.intro-buttons  {
  display: flex;
}

.intro .button  {
  margin: 0 6px;
  width: 260px;
  padding: 10px 0 8px;
}

.button.button--main  {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(43, 59, 71, 0.25);
}

.button.button--main:hover  {
  background-color: rgba(43, 59, 71, 0.124066);
  color: gba(255, 255, 255, 1);
}

.button.button--secondary  {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(43, 59, 71, 0.25);
}

.button.button--secondary:hover  {
  background-color: rgba(43, 59, 71, 0.124066);
  color: gba(255, 255, 255, 1);
}

.intro h1  {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 36px;
  padding: 0 0 12px 0;
  font-weight: bold;
  line-height: 42px;
  max-width: 800px;
  width: 100%;
}

.intro p  {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.6;
  padding: 0 0 25px 0;
  max-width: 800px;
  width: 100%;
}

.command-wrap  {
  width: 400px;
  margin: 24px auto 0;
}

.command  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: 28px;
  background-color: #FFFFFF;
  font-family: "Roboto Mono", monospace;
  color: black;
  font-size: 21px;
  text-align: center;

  font-weight: bold;
  color: white;
  background-color: #232323;
}

.command-description  {
  text-align: center;
  color: #777f86;
  padding: 8px 0 0 0;
}

.features  {
  width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.features-wrap  {
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.features-wrap-2  {
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.features-item  {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 0 16px 0;
  width: 100%;
  height: 156px;
  border-color: #E0E3E6;
  border-style: solid;
}

.features-item:last-child  {
  margin-bottom: 0;
}

.features-item-inner  {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 22px 24px 24px 24px;
  z-index: 200;
}

.features-item-top  {
  width: 620px;
}

.features-item h2  {
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 8px 0;
  transition: color 0.2s ease;
}

.features-item p  {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #777f86;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 8px 0;
}

.features-item p:last-child  {
  padding: 0;
}

.features-button-wrap  {
  display: flex;
  align-items: center;
}

.button--features  {
  width: 200px;
  text-align: center;
}

.button.button--features  {
  color: #363763;
}


@media (max-width: 1199px) {
  .features  {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }

  .features-item  {
    margin: 0 0 12px 0;
    height: auto;
  }

  .features-item-top  {
    width: auto;
  }

  .features-item-inner  {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button.button--features  {
    margin: 16px 0 0 0;
    width: auto;
  }
}


body  {
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.button, a.button  {
  display: block;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 10px 32px 9px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
  line-height: normal;
}

.button.button--light, a.button.button--light  {
  background-color: rgba(54, 55, 99, 0.1);
}

.button:hover, a.button:hover  {
  background-color: rgba(0, 0, 0, 0.2);
}

.button.button--light:hover, a.button.button--light:hover  {
  background-color: rgba(54, 55, 99, 0.2);
}

.home-wrap  {
  position: relative;
  background-color: #FFFFFF;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  z-index: 999;
  padding: 0 20px;
}


@media (max-width: 991px) {
  .home-wrap  {
    margin: 400px 0 0 0;
  }
}

.clear  {
  clear: both;
}

.inner-header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  text-align: center;
  h2  {
    font-size: 26px;
    font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
  }
  p  {
    line-height: 25px;
    font-size: 16px;
    color: #939BA1;
    max-width: 600px;
  }
}

pre  {
  background-color: white;
  padding: 0px;

  code  {
    padding: 1em !important;
    border-radius: 8px;
    font-size: 1em;
  }
}

.contribute-wrap {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.contribute {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 30px;
  padding: 32px;
  width: calc(50% - 30px);
  flex-direction: column;
  margin-top: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  &:nth-child(3n+4) {
    margin-right: 0;
  }
  h3  {
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 8px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    color: #939BA1;
    margin-bottom: 20px;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0;
      margin-top: auto;
      padding-top: 20px;
    }
  }
  a  {
    line-height: 24px;
    font-size: 16px;
    color: #5EC12F;
    text-decoration: none;
    margin-top: auto;
  }
  span  {
    margin-left: 8px;
  }
}

.contributor  {
  margin-bottom: 24px;
  width: 70px;
  height: 70px;
  display: flex;
  object-fit: cover;
}

footer {
  color: #7D7F88;
  background: #262A39;
  padding: 60px 0;
  position: relative;
  z-index: 9;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    a {
      text-decoration: none;
    }
    .info {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      display: flex;
      flex-direction: column;
    }
    .social-links {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
      margin-left: auto;
    }
    .more {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
  }
}



@media (max-width: 991px) {
  .section-header {
    margin: -30px auto 0 auto;
  }

  .intro {
    padding: 50px 16px;
  }

  .command-wrap  {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .command  {
    border-radius: 0;
    font-size: 18px;
  }

  #content-inner {
    flex-direction: column;
    #sidebar {
      padding: 20px 0;
      margin-left: -14px;
      .inner {
        flex-wrap: nowrap;
        display: flex;
        overflow: auto;
        white-space: nowrap;
        width: calc(100% + 20px);
        a {
          padding: 9px 14px;
          margin-bottom: 0;
        }
      }
    }
  }

  .article {
    padding: 0;
    .inner {
      padding: 0;
    }
  }

  footer .container {
    .social-links {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .more {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}

@media (max-width: 767px) {
  .home-cover {
    position: relative;
    height: auto;
  }
  .home-wrap {
    margin-top: 30px;
  }
  .intro-buttons {
    flex-wrap: wrap;
    justify-content: center;
    .button {
      margin-bottom: 16px;
    }
  }
  .contribute-wrap {
    flex-wrap: wrap;
    .contribute {
      width: 100%;
      margin-right: 0;
    }
  }
  footer .container {
    flex-direction: column-reverse;
    text-align: center;
    p {
      margin-top: 10px;
    }
    ul li {
      margin-bottom: 16px;
    }
    .info {
      flex: 0 0 100%;
      max-width: 100%;
      align-items: center;
      margin-top: 50px;
      .blog-logo a span {
        display: none;
      }
    }
    .social-links {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 30px;
      .community {
        width: 130px;
        text-align: left;
        margin: 0 auto;
      }
    }
    .more {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.header {
  max-width: 1200px;
  width: 100%;
  align-self: center;
  text-align: center;
  margin: 64px auto 84px auto;
  h2 {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
  }
  p {
    font-size: 16px;
    color: #939BA1;
    max-width: 680px;
    margin: 0 auto;
  }
}

.problem-wrap  {
  max-width: 1200px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  display: block;
  align-self: center;
  text-align: center;
}

.problem {
  max-width: 400px;
  width: 33%;
  float: left;
  margin-top: 100px;
  p {
    padding: 20px;
  }
}

.problem-quote {
  color: #000;
  line-height: 24px;
  font-size: 16px;
  font-style: italic;
}

.problem-attribution {
  color: #939BA1;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 40px;
}

.ethprize-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: -55px;
}

.vision-wrap {
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  align-self: center;
  text-align: left;
  margin-top: 145px;
}

.vision-image  {
  width: 50%;
  float: left;
}

.vision-text {
  width: 50%;
  float: left;
  h2 {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-bottom: 12px;
  }
  p {
    font-size: 16px;
    color: #939BA1;
  }
}

.solution-wrap {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  align-self: center;
  text-align: left;
  margin-top: 100px;
  h2 {
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: bold;
  }
}

.solution {
  max-width: 600px;
  width: 50%;
  float: left;
  h3 {
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000;
  }
}

.solutions-img {
  margin-left: 46%;
  margin-top: 55px;
}

.solutions-text {
  font-size: 16px;
  text-align: center;
  color: #939BA1;
  width: 90%;
  padding: 20px;
}

.sol-features {
  max-width: 600px;
  width: 50%;
  float: left;
  margin-bottom: 64px;
}

.solution-features {
  float: left;
  width: 50%;
  display: inline-block;
  margin-top: 24px;
  p {
    padding: 0;
    text-align: left;
  }
  img {
    margin: 0 12px 0 60px;
  }
}

.volunteer-wrap {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  align-self: center;
  text-align: center;
  margin: 140px auto 70px auto;
  h2 {
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  p {
    font-size: 16px;
    color: #939BA1;
    margin-bottom: 30px;
  }
  a {
    color: rgb(94, 193, 47);
    background-color: rgba(94, 193, 47, 0.1);
    border-radius: 20px;
    padding: 10px 24px;
    text-decoration: none;
    &:hover {
      background-color: #5EC12F;
      color: #fff;
    }
  }
}

.vision-text-mobile {
  display: none;
}

@media (max-width: 767px) {
  .sol-features {
    width: 100%;
  }
}

@media (max-width: 459px) {
  .site-specific-menu {
    span {
      padding-right: 10px;
    }
  }
  .problem {
    width: 100%;
    margin-top: 0;
  }
  .first-problem-img {
    margin-top: 100px;
  }
  .vision-wrap {
    margin-top: 50px;
  }
  .vision-image {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .vision-text {
    display: none;
  }
  .vision-text-mobile {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    h2 {
      color: #000;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    p {
      font-size: 16px;
      color: #939BA1;
    }
  }
  .solution {
    width: 100%;
  }
  .solutions-img {
    margin-left: 44%;
    margin-top: 30px;
  }
  .sol-features {
    img {
      margin: 0 12px 0 0;
    }
  }
  .volunteer-wrap {
    margin: 70px auto 35px auto;
  }

  @media (max-width: 391px) {
    .solutions-img {
      margin-left: 40%;
    }
  }
}
